body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex: 1;
  height: 95vh;
  padding: 0px;
  margin: 0px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0px;
  margin: 0px;
  align-content: flex-end;
  justify-content: flex-end;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 20px;
}

#displayHex1,
#displayHex2,
#displayHex3,
#displayHex4,
#displayHex5,
.hexDisplay,
.column {
  color: #fff;
  transition: all 0.5s ease;
}

.hexDisplay {
  background-color: #000;
  font-size: 30px;
  opacity: 0.5;
  width: 150px;
  padding: 5px;
  text-align: center;
}

#bottomRow {
  background-color: black;
  color: white;
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: space-between;
  padding: 0px 30px;
  box-sizing: border-box;
}

#bottomRow p {
  display: inline-flex;
}

#bottomRow input {
  display: inline-flex;
}

.padlock {
  width: 50px;
  height: auto;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.padlock:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

.dark {
  opacity: 1;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"] + img {
  cursor: pointer;
}
